In [1]:
import pandas as pd
import re
from nltk.tokenize import TweetTokenizer, word_tokenize
from nltk.corpus import stopwords

print('Success')

Success

## Read data

In [2]:
table = pd.read_csv('data/Tweets.csv')

table = table.drop(columns = ['Unnamed: 0'])

In [3]:
table

       Toxicity                                              tweet
0             0   @user when a father is dysfunctional and is s...
1             0  @user @user thanks for #lyft credit i can't us...
2             0                                bihday your majesty
3             0  #model   i love u take with u all the time in ...
4             0             factsguide: society now    #motivation
...         ...                                                ...
56740         1  you's a muthaf***in lie &#8220;@LifeAsKing: @2...
56741         1  you've gone and broke the wrong heart baby, an...
56742         1  young buck wanna eat!!.. dat nigguh like I ain...
56743         1              youu got wild bitches tellin you lies
56744         0  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

[56745 rows x 2 columns]

## Bird-view on data

In [4]:
table['Toxicity'].value_counts()

Toxicity
0    32592
1    24153
Name: count, dtype: int64

In [5]:
for i in range(10):
    print(i, ':\t', table['tweet'][i])
    print()

0 :	  @user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run

1 :	 @user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked

2 :	   bihday your majesty

3 :	 #model   i love u take with u all the time in urð±!!! ððððð¦ð¦ð¦

4 :	  factsguide: society now    #motivation

5 :	 [2/2] huge fan fare and big talking before they leave. chaos and pay disputes when they get there. #allshowandnogo

6 :	  @user camping tomorrow @user @user @user @user @user @user @user dannyâ¦

7 :	 the next school year is the year for exams.ð¯ can't think about that ð­ #school #exams   #hate #imagine #actorslife #revolutionschool #girl

8 :	 we won!!! love the land!!! #allin #cavs #champions #cleveland #clevelandcavaliers  â¦

9 :	  @user @user welcome here !  i'm   it's so #gr8 !

### Text cleaning

In [ ]:
def clean_hashs(data):
    cleaned_data = re.sub('[^\w\s]+', '', data)  # Removing hashtags and other non-alphanumeric characters
    cleaned_data = re.sub('[^a-zA-Z\s]+', '', data)  # Removing non-letter characters except spaces
    cleaned_data = re.sub('\s+', ' ', cleaned_data).strip()  # Remove extra spaces and strip leading/trailing spaces
    return cleaned_data

In [7]:
table['tweet'] = table['tweet'].apply(lambda x: clean_hashs(x))

In [8]:
tokenizer = TweetTokenizer()

In [9]:
stop_words = set(stopwords.words('english'))
stop_words.add('user')

In [10]:
tokens_list = [tokenizer.tokenize(tweet) for tweet in table['tweet']]
filtered_tokens_list = [[word for word in tokens if word.lower() not in stop_words] for tokens in tokens_list]

In [11]:
table['filtered_words'] = filtered_tokens_list

In [15]:
for i in range(10):
    print(i, ':\t', table['filtered_words'][i])
    print()

0 :	 ['father', 'dysfunctional', 'selfish', 'drags', 'kids', 'dysfunction', 'run']

1 :	 ['thanks', 'lyft', 'credit', 'cant', 'use', 'cause', 'dont', 'offer', 'wheelchair', 'vans', 'pdx', 'disapointed', 'getthanked']

2 :	 ['bihday', 'majesty']

3 :	 ['model', 'love', 'u', 'take', 'u', 'time', 'ur']

4 :	 ['factsguide', 'society', 'motivation']

5 :	 ['huge', 'fan', 'fare', 'big', 'talking', 'leave', 'chaos', 'pay', 'disputes', 'get', 'allshowandnogo']

6 :	 ['camping', 'tomorrow', 'danny']

7 :	 ['next', 'school', 'year', 'year', 'exams', 'cant', 'think', 'school', 'exams', 'hate', 'imagine', 'actorslife', 'revolutionschool', 'girl']

8 :	 ['love', 'land', 'allin', 'cavs', 'champions', 'cleveland', 'clevelandcavaliers']

9 :	 ['welcome', 'im', 'gr']